{% extends "base.html" %} 
{% block content %}
<div class='panel panel-success'>
<label class='panel-heading'>Select file you want to upload</label>
<form class='panel-body' method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in file_upload_form %}
        <div class='form-group'>
        {{ field }}
        </div>
    {% endfor %}    
    <input class='btn btn-success' type="submit" value='Save'>
</form>
</div>
{% endblock %}