<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
 function copyTextToClipboard(text) {
  var node = document.createElement('textarea');
  var selection = document.getSelection();

  node.textContent = text;
  document.body.appendChild(node);

  selection.removeAllRanges();
  node.select();
  document.execCommand('copy');

  selection.removeAllRanges();
  document.body.removeChild(node);
  window.alert('Link was copied')
}
  </script>
</head>
<body>
    <div class='navbar navbar-fixed-top'>
        <div class='container'>
            <div class='collapse navbar-collapse' >
                <ul class='nav navbar-nav'>
                {% if user.is_authenticated %}
                    <li class='nav'><a href={% url 'index' %} ><b>{{ user.username }}</b></a></li>
                    <li class='nav-item active' ><a class='btn btn-outline-light' href={% url 'authsystem:logout' %}>logout</a></li>
                {% endif %}                    
                </ul>
            </div>
        </div>
    </div>
    <div class='container'>
        <div style='padding: 80px'>
        {% if user.is_authenticated %}
        {% block content %}
        {% endblock %}
        {% else %}
        {% block auth %}
        {% endblock %}
        {% endif %}
        </div> 
    </div>
</body>