{% extends "base.html" %}
{% block content %}
    <p><a class='btn btn-success' href={% url 'filesystem:create' %}>Upload file</a></p>
        <table class="table table-hover table-striped table-bordered" style='text-align: center'>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Public link</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for file in files %}
        <tr>
          <td>{{ file.virtual_name }}</td>
          {% if file.public_link != '' %}
          <td><input class='btn btn-primary' type="button" value="Copy link" onclick="copyTextToClipboard('{{ request.scheme }}://{{ request.get_host }}{% url 'filesystem:public_access' file.public_link %}')"> <a class='btn btn-warning' href={% url 'filesystem:remove_link' file.id %}>Remove link</a></td>
          {% else %}  
          <td><a class='btn btn-primary' href={% url 'filesystem:create_link' file.id %} >Create link</a></td>
          {% endif %}
          <td><a class='btn btn-success' href={% url 'filesystem:download' file.id %} download = "{{ file.virtual_name }}">Download</a></td>
          <td><a class='btn btn-danger' href={% url 'filesystem:delete' file.id %}>Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}