{% extends "base.html" %}
{% load widget_tweaks %}
{% block auth %}
{% if user.is_authenticated %}
    <h2>Change user:</h2>
{% else %}
    <h2>Enter login and password:</h2><td>
{% endif %}
<form method="POST">
  {% csrf_token %}
  {% for field in login_form %}
  <div class='form-group'>
    <label>{{ field.label }}</label>
    <div>{{ field|add_class:"form-control" }}</div>
    <label>{{ field.help_text }}</label>
    <h4 style="color: red">{{ field.errors }}</h4>
  </div>
  {% endfor %}
  {% for error in login_form.non_field_errors %}
    <p><h4 style="color: red">{{ error }}</h4></p>
  {% endfor %}
  <input class='btn btn-success' type="submit" value="Login">
</form>
<h4>If u dont have account, <a class='btn btn-outline-primary' href={% url 'authsystem:register' %}>Register</a></h4>
{% endblock %}-