{% extends "base.html" %}
{% load widget_tweaks %}
{% block auth %}
<h6>Back to <a class='btn btn-primary' href={% url 'authsystem:login' %}>Login</a> page</h6>
<form method="POST">
    {% csrf_token %}
    {% for field in register_form %}
        <div class='form-group'>
        <label>{{ field.label }}</label>
        <div>{{ field|add_class:"form-control" }}</div>
        <h6>{{ field.help_text }}</h6>
        <h4 style="color: red">{{ field.errors }}</h4>
    {% endfor %}
    {% for error in register_form.non_field_errors %}
        <p><h4 style="color: red">{{ error }}</h4></p>
    {% endfor %}
    <input class='btn btn-success' type="submit" value="Register">
</form>
{% endblock %}